<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoJetPack"
        tools:targetApi="31">
        <activity
            android:name=".SideEffectHandler.MDerivedState"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DemoJetPack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AMultiplePreview"
            android:exported="false" />
        <activity
            android:name=".BBasicComposable"
            android:exported="false" />
        <activity
            android:name=".CListByJetPackCompose"
            android:exported="false" />
        <activity
            android:name=".DSingleListProfileItem"
            android:exported="false" />
        <activity
            android:name=".ERecomposition"
            android:exported="false" />
        <activity
            android:name=".demoapp.DemoMainScreen"
            android:exported="false" />
        <activity
            android:name=".FStateObject"
            android:exported="false" />
        <activity
            android:name=".GCustomizeTheme"
            android:exported="false" />
        <activity
            android:name=".SideEffectHandler.HComposableSideEffectHandlers"
            android:exported="false" />
        <activity
            android:name=".SideEffectHandler.IRememberCoroutineScope"
            android:exported="false" />
        <activity
            android:name=".SideEffectHandler.JRememberUpdateState"
            android:exported="false" />
        <activity
            android:name=".SideEffectHandler.KDisposableCleaners"
            android:exported="false" />
        <activity
            android:name=".SideEffectHandler.LProduceState"
            android:exported="false" />
    </application>

</manifest>